@{
    ViewBag.Title = "Registration_page";
}

<h2>Registration_page</h2>
<html>
<head><title>
        
    </title>
    <script src="~/content/script/validation.js"></script>
    <script src="~/content/script/emailverification.js"></script>
    </head>
<body>
 @{using (Html.BeginForm("Registration_page", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
   { 
    <div style="margin-left:40px;">
       
        <label>Name</label><input type="text" style="margin-left:40px;" name="firstname" id="fname"  onclick="firstnamvalidate()"/><br /><br />
        <label>Profile Pic</label><input type="file" style="margin-left: 20px;" name="profilepic" id="img1" /><br /><br />
        <label>Gender</label><input type="radio" style="margin-left: 40px;" name="gender" />Male <input type="radio" name="gender" />Female<br /><br />
        <label>Email</label><input type="email" style="margin-left: 40px;" name="email" id="eml" onclick="emailvalidate()" onsubmit="validateform();" /><br /><br />
        <label>Addrress</label><input type="text" style="margin-left: 25px;"  name="address" id="adres" onclick="addressvalidate()"/><br /><br />
        <label>Country</label><select style="margin-left: 40px;" name="country"><option>India</option><option>USA</option></select><br /><br />
        <label>Hobbies</label><input type="checkbox" style="margin-left: 40px;" name="Hobbies"  />Reading<br /><br />
        <input type="checkbox" style="margin-left: 88px;" name="Hobbies" />Music<br /><br />
        <input type="checkbox" style="margin-left: 88px;" name="Hobbies" />Browsing<br /><br />
        <input type="checkbox" style="margin-left: 88px;" name="Hobbies" />Playing<br /><br />
        <label>Password</label><input type="password" style="margin-left: 40px;" name="password" id="paswrd" onclick="passwordvalidate()"/><br /><br />
        <input type="submit" value="Save" style="margin-left: 90px;" name="cmd" />

    </div>
      }}
</body>
</html>